#header-title{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;

}
header{
  background-image: url("images/homepage/pexels-nessah-32391849 (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


section{
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 200px;
    box-shadow: #555  0px 0px 10px;

    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 800px; 
}

section ul {
    text-align: left;
    padding-left: 20px;
    list-style-type: disc;
    font-size: 0.95em;
    margin-bottom: auto;
}


p{
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}
h1, h2, h3 {
    color: #b46e48;
    margin-bottom: 10px;
}



#intro-image{
  display: block;
  margin: auto;
  width: 50%;
}



#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

      max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#nav-bar li {
  display: inline;
  margin: 15px;
}

#nav-bar{
    border: #333 solid 1px;
    border-radius: 8px;
    background-color: #f2f2f2;
}





body {
  margin: 0;
  font: 1em/var(--body-leading) sans-serif;
  
}

.img-gallery{
  padding: 0%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: wrap;
}

.img-gallery-item {
  display: flex;
  margin: flex; 
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-end;
  box-shadow: #555 0px 0px 5px;
  border-radius: 8px;
  margin: 10px;

}

.img-gallery-item figcaption{
  text-align: center;
  font-size: 1em;
  color: #333;
  margin-top: 5px;
}

.img-gallery-item img {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .img-gallery-item img {
    max-width: 100%;
    max-height: 200px;
  }
  .img-gallery-item {
    flex-basis: calc(50% - 20px);
  }
  
}
@media screen and (max-width: 480px) {
  .img-gallery-item img {
    max-width: 100%;
    max-height: 200px;
  }
  .img-gallery-item {
    flex-basis: calc(100% - 20px);
  }
  section img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: #555 0px 0px 5px;
}
  
}


