#header-title{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;

}
header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

header h1 {
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color-scheme: dark, light;
  
}


section{
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 200px;
    box-shadow: #555  0px 0px 10px;

    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 800px; 
}

section ul {
    text-align: left;
    padding-left: 20px;
    list-style-type: disc;
    font-size: 0.95em;
    margin-bottom: auto;
}


p{
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}
h1, h2, h3 {
    color: #b46e48;
    margin-bottom: 10px;
}



#intro-image{
  display: block;
  margin: auto;
  width: 50%;
}

#nav-bar {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
}
#nav-bar a {
  text-decoration: none;
  color: #224710;
  font-weight: bold;

  
}
#nav-bar a:hover {
  color: #b46e48;
}





#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

      max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#nav-bar li {
  display: inline;
  margin: 15px;
}

#nav-bar{
    border: #333 solid 1px;
    border-radius: 8px;
    background-color: #f2f2f2;
}
#transportation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  list-style-type: none;
}

.transport-type {
  flex: 1;
  margin: 10px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
  max-width: 200px;
  justify-items: center;
}

.transport-type img {
  max-width: 150px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
}





body {
  margin: 0;
  font: 1em/var(--body-leading) sans-serif;
  
}

.food-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  align-items: flex-start;
}

.food-item {
  flex: 1;
  margin: 10px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
  max-width: 500px;
}

.restaurant-info:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  .food-item a{
    color: #b46e48;
  }
}

.food-list img{

  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
}

.food-item h3 {
  color: #224710;
  margin: 10px 0;
}
.restaurant-info {
  padding: 10px;
  font-size: 1em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
  margin-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;

}

.restaurant-info a {
  color: #224710;
  text-decoration: none;
  font-weight: bold;
}



.img-gallery{
  padding: 0%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  
}

.img-gallery-item {
  display: flex;
  margin: flex; 
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-end;
  border-radius: 8px;
  margin: 10px;
  background-color: #f2f2f2;
  box-shadow: #555 0px 0px 5px;
  outline: rgb(64, 59, 59) solid 1px;  
}

.img-gallery-item figcaption {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;

  text-align: center;
  font-size: 1em;
  color: #224710;
  margin-top: 5px;
}


body {
  background-image: url("images/homepage/pexels-nessah-32391849 (1).jpg") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.attractions-list img{
  max-width: 500px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;

}


.img-gallery-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
  justify-content: center;
}

.trasportation-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.trasport-type {
  flex: 1;
  margin: 10px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: #555 0px 0px 5px;
  max-width: 200px;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .img-gallery-item img {
    max-width: 100%;
    max-height: 200px;
  }
  .img-gallery-item {
    flex-basis: calc(50% - 20px);
  }
  section img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: #555 0px 0px 5px;
  }
  .food-list {
    flex-direction: column;
    align-items: center;
  }
  .food-item {
    max-width: 100%;
  }
  #header-title {
    font-size: 1.5em;
  }
  header {
    min-height: 200px;
  }           
  #nav-bar {
    padding: 10px;
  }
  #nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #nav-bar li {
    display: block;
    margin: 10px 0;
  }
  section {
    max-width: 100%;
    padding: 10px;
  }
  .img-gallery {
    flex-direction: column;
    align-items: center;
  }
  .img-gallery-item {
    max-width: 100%;
    margin: 10px 0;
  }
  .img-gallery-item figcaption {
    font-size: 0.9em;
  }
  .restaurant-info {
    font-size: 0.9em;
  }
  .food-list img {
    max-width: 100%;
    max-height: 200px;
  }
  .food-item h3 {
    font-size: 1.2em;
  }
  .food-item p {
    font-size: 1em;
  }
  .attractions-list img {
    max-width: 100%;
    max-height: 200px;
  }
  .attractions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .attractions-list h3 {
    font-size: 1.2em;
  }
  .attractions-list p {
    font-size: 1em;
  }
  .img-gallery-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px 0;
  }
  .img-gallery-item {
    flex-basis: calc(100% - 20px);
  }
  .img-gallery-item figcaption {
    font-size: 0.9em;
    padding: 5px;
  }
  .restaurant-info {
    font-size: 0.9em;
    padding: 5px;
  }
  .food-list {
    flex-direction: column;
    align-items: center;
  }
  .food-item {
    max-width: 100%;
    margin: 10px 0;
  }
  .food-item h3 {
    font-size: 1.2em;
  }
  .food-item p {
    font-size: 1em;
  }
  .attractions-list img {
    max-width: 100%;
    max-height: 200px;
  }
  .attractions-list h3 {
    font-size: 1.2em;
  } 
  
}
@media screen and (max-width: 480px) {
  .img-gallery-item img {
    max-width: 100%;
    max-height: 200px;
  }
  .img-gallery-item {
    flex-basis: calc(100% - 20px);
  }
  section img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: #555 0px 0px 5px;
}
  .food-list {
    flex-direction: column;
    align-items: center;
  }
  .food-item {
    max-width: 100%;
  }
  #header-title {
    font-size: 1.5em;
  }
  header {
    min-height: 200px;
  }
  #nav-bar {
    padding: 10px;
  }
  #nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #nav-bar li {
    display: block;
    margin: 10px 0;
  }
  section {
    max-width: 100%;
    padding: 10px;
  }
  .img-gallery {
    flex-direction: column;
    align-items: center;
  }
  .img-gallery-item {
    max-width: 100%;
    margin: 10px 0;
  }
  .img-gallery-item figcaption {
    font-size: 0.9em;
  }
  .restaurant-info {
    font-size: 0.9em;
  }
  .food-list img {
    max-width: 100%;
    max-height: 200px;
  }
  .food-item h3 {
    font-size: 1.2em;
  }
  .food-item p {
    font-size: 1em;
  }
  .attractions-list img {
    max-width: 100%;
    max-height: 200px;
  }
  .attractions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .attractions-list h3 {
    font-size: 1.2em;
  }
  .attractions-list p {
    font-size: 1em;
  }
  
}

